<form style="margin: 2em">
    <label>Civility</label><br>
    <input type="text" [(ngModel)]="civility" name="civility" required /><br>
    <label>Last name</label><br>
    <input type="text" [(ngModel)]="lastName" name="lastname" required /><br>
    <label>First name</label><br>
    <input type="text" [(ngModel)]="firstName" name="firstname" required /><br>
    <label>Address</label><br>
    <input type="text" [(ngModel)]="address" name="address" required /><br>
    <label>Zip Code</label><br>
    <input type="text" [(ngModel)]="zipCode" name="zipcode" required /><br>
    <label>City</label><br>
    <input type="text" [(ngModel)]="city" name="city" required /><br>
    <label>Country</label><br>
    <input type="text" [(ngModel)]="country" name="country" required /><br>
    <label>Login</label><br>
    <input type="text" [(ngModel)]="login" name="login" required /><br>
    <label>Password</label><br>
    <input type="password" [(ngModel)]="password" name="password" required /><br>
    <button type="submit" class="btn btn-outline">Submit</button>
</form>
